@font-face {
    font-family: 'Bierstadt';
    src: url('../fonts/Bierstadt-Regular.ttf') format('truetype');
    font-display: swap;
}

body {
    font-family: 'Bierstadt', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

a {
    text-decoration: none; 
    color: inherit;  /* this makes the link adopt the color of its parent or surrounding text */
}

p{
    font-size: 19px;
}

li{
    font-size: 19px;
}

.header {
    padding: 20px;
    text-align: center;
    background: #ffffff;
    /* border-bottom: 1px solid #e7e7e7; */
}

.header h2 {
    font-size: 24px;
}

.header p {
    margin-top: 5px;
}

.navbar-wrapper {
    background-color: #ffffff;
    padding: 10px 20%; /* Adjust the horizontal padding to match other sections */
}

.navbar {
    background-color: #f1f1f1;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #e7e7e7;
}

/* Existing navbar link styles */
.navbar a {
    padding: 10px 20px;
    display: block;
    color: #000000;
    text-align: center;
    text-decoration: none;
    max-width: 82.25px;
}

.navbar a:hover {
    color: #333;
    background-color: #e7e7e7;
}

/* New styles for the active link */
.navbar a.active {
    color: #000000;;  /* You can adjust this color as needed */
    background-color: #b0b0b0;  /* You can adjust this background color as needed */
}

.border-break {
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    border-bottom: 2px solid #e7e7e7;
}

/* Add a style to make the header look clickable, e.g., cursor as pointer */
.restricted {
    cursor: no-drop;
    color: #bcbcbc !important;
}

.resume-content {
    padding: 40px 15%;
    min-height: 100%;
    background-color: #ffffff;
}

.contact-info h1 {
    text-align: center;
    font-size: 28px;
}

.contact-info p {
    text-align: center;
    margin: 10px 0;
}

.summary {
    font-style: italic;
    margin-top: 15px;
}

.section h2 {
    font-size: 24px;
    border-bottom: 1px solid #e7e7e7; 
    padding-bottom: 5px;
    margin-top: 20px;
}

.section h3 {
    font-size: 22px;
    margin: 15px 0 5px 0;
}

.date {
    font-size: 16px;
    font-style: italic;
    color: #3c3c3c;
}

.article-date {
    text-align: right;
    font-size: 16px;
    font-style: italic;
    color: #3c3c3c;
}

.contact-info {
    padding: 20px 0;
    text-align: center;
    background-color: #ffffff;
    /* border-bottom: 1px solid #e7e7e7; */
}

.contact-info h1 {
    margin: 10px 0;
    font-size: 28px;
}

.contact-info p {
    margin: 5px 0;
}

.summary {
    margin-top: 15px;
    font-style: italic;
}

.resume-content {
    padding: 20px 20%;
    background-color: #ffffff;
}

.contact-info {
    padding: 20px 20%;
    text-align: center;
    background-color: #ffffff;
    /*  border-bottom: 1px solid #e7e7e7; */
}

/* Hide the content by default */
.content {
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* Add a style to make the header look clickable, e.g., cursor as pointer */
.collapsible {
    cursor: pointer;
}

.collapsible::before {
    content: "-"; /* Unicode plus sign */
    /* margin-right: 3px; /* Space between the symbol and the text */
    font-size: 14px; /* Adjust the size as needed */
    /*color: #888;  A subtle gray color */
    vertical-align: middle; /* Align the symbol vertically with the text */
}

.collapsible.active::before {
    content: "+"; /* Unicode minus sign */
    font-size: 14px; /* Adjust the size as needed */
    /*color: #888; /* A subtle gray color */
    vertical-align: middle; /* Align the symbol vertically with the text */
}


.collapsible-container .date,
.collapsible-container ul {
    display: block;
}

.tab-container {
    border: 1px solid #ccc;
    background-color: #f0f0f0; /* Light grey background */
  }
  
  .tabs button {
    background-color: #ccc;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 4px 16px;
    transition: 0.3s;
  }
  
  .tabs button.active {
    background-color: #b0b0b0;  /* Darker grey background */
  }

  .tabs button:hover {
    background-color: #ddd;
  }
  
  .tab-content {
    clear: both;
    border-top: none;
  }
  
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-image {
    width: 50%;
    border-collapse: collapse; /* Ensures borders don't double up */
}

.article-table{
    width: 100%;
}

.article-table td {
    margin: 0;         /* Removes any margin */
    padding: 0;       /* Removes any padding */
    line-height: 0;   /* Adjusts the height of the text line */
    border: 0px;
}

/* Media query for aspect ratio */
@media (max-aspect-ratio: 4/3) {

    .date {
        font-size: 21px;
        font-style: italic;
        color: #3c3c3c;
    }
    
    .article-date {
        text-align: right;
        font-size: 21px;
        font-style: italic;
        color: #3c3c3c;
    }

    .resume-content {
        padding: 40px 5%;  /* Adjusted horizontal padding */
    }
    .contact-info {
        padding: 20px 5%;  /* Adjusted horizontal padding */
    }

    .navbar {
        padding: 0 5%;  /* Adjusted horizontal padding */
    }

    .article-image {
        width: 95%;
        border-collapse: collapse; /* Ensures borders don't double up */
    }
    
    .navbar-wrapper {
        background-color: #ffffff;
        padding: 10px 0%; /* Adjust the horizontal padding to match other sections */
    }

    /* Existing navbar link styles */
    .navbar a {
        display: block;
        color: #000000;
        text-align: center;
        text-decoration: none;
        min-width: 15%;
        font-size: larger;
    }

    .navbar a:hover {
        color: #333;
        background-color: #e7e7e7;
    }

    /* New styles for the active link */
    .navbar a.active {
        color: #000000;;  /* You can adjust this color as needed */
        background-color: #b0b0b0;  /* You can adjust this background color as needed */
    }

}
